h1 {font-family: cursive;
    font-size: 100px;
    font-weight: 500;
}

content {
    font-family: cursive;
    font-size: 100px;
    font-weight: 500;
    
    
}
div {
    
        font-family: cursive;
    font-size: 40px;
    font-weight: 300;
}